<!doctype html>
<html>
  <head>
    <title><%=shopName%> : Bargain Sale</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>The <%=shopName%> Shop</h1>
    <p>Here are some books that are below £20.</p>
    <p>Animal Farm, £12.99</p>
  </body>
</html>