<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>The <%=shopName%> Shop</h1>
    <p>Here are some books that we sell.</p>
    <p>Brighton Rock, £20.25</p>
    <p>Brave New World, £25.00</p>
    <p>Animal Farm, £12.99</p>
  </body>
</html>